#users_form {
    width: 20%;
    margin: 15px 0;
}
#activities_form {
    width: 20%;
    margin: 15px 0;
}
#categories_form {
    width: 20%;
    margin: 15px 0;
}
#reports_form {
    width: 20%;
    margin: 15px 0;
}#requests_form {
     width: 20%;
     margin: 15px 0;
 }
